<!doctype html>
<html lang="vi">

<head>
  <link rel="icon" type="image/png" href="/static/images/logo.png" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HuyVX - Đăng ký</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <script src="/static/js/particles.js"></script>
</head>

<body>
  <div class="login-container">
    <div class="right-panel">
      <div class="logo-wrapper" style="
            text-align: center !important;
            display: block !important;
            width: 100% !important;
          ">
        <center>
          <img src="static/images/logo.png" alt="HUYVX Logo" style="
                width: 200px !important;
                height: auto !important;
                display: inline-block !important;
              " />
        </center>
      </div>
      <h2>Đăng ký tài khoản</h2>
      <div class="register-prompt">
        Nếu bạn đã có tài khoản?
        <a href="/login" class="btn-register" style="background-color: #22c55e">Đăng Nhập Ngay!</a>
      </div>

      <form id="registerForm">
        <div class="input-group">
          <label for="username">Tài khoản</label>
          <input type="text" id="username" placeholder="username" required />
        </div>

        <div class="input-group">
          <label for="password">Mật khẩu</label>
          <input type="password" id="password" placeholder="*******" required />
        </div>

        <div class="input-group">
          <label for="rePassword">Nhập lại mật khẩu</label>
          <input type="password" id="rePassword" placeholder="*******" required />
        </div>

        <button type="submit" class="btn-login">Đăng ký</button>

        <div class="dmca-badge-container" style="text-align: center; margin-top: 20px">
          <a href="https://www.dmca.com/Protection/Status.aspx?ID=7f567101-2b8a-44f2-9d65-7f71f3677539&refurl=https://www.huyvx.online/"
            title="DMCA.com Protection Status" class="dmca-badge"> <img
              src="https://images.dmca.com/Badges/dmca_protected_sml_120b.png?ID=7f567101-2b8a-44f2-9d65-7f71f3677539"
              alt="DMCA.com Protection Status" /></a>
          <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
        </div>
      </form>
    </div>
  </div>

  <div id="particles-js"></div>
  <script src="/static/js/new_index.js"></script>
  <script src="/static/js/register.js"></script>
</body>

</html>